*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: Gilroylight;
  src: url(../fonts/Gilroylight.ttf);
}

@font-face {
  font-family: Gilroyextrabold;
  src: url(../fonts/Gilroyextrabold.ttf);
}

html {
	box-sizing: border-box;
}

/*font-family: 'Open Sans', sans-serif;*/

.clearfix::after {
 content: "";
 display: table;
 clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.main-header {
	margin-top: 40px;
	background-color: rgba(255, 198, 0, 0.5);
}

.main-header-logo {
	margin-left: 58px;
	position: relative;
  top: -19px;
}

.main-header-user {
	margin-left: 48px;
	margin-right: 60px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
}

.main-header-user-search {
	position: relative;

	float: left;
	width: 200px;

	text-align: right;
}

.main-header-user-search input {
	border: none;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;

	background-color: transparent;
    
}

.main-header-user-search::before {
	content: "";

	position: absolute;
	top: 11px;
	left: 15px;

	width: 16px;
	height: 16px;
	background-image: url("../image/icon-search.svg");
}

.main-header-user-list {
	float: right;
}

.main-header-user-list-item {
	display: inline-block;
	margin-right: 20px;

	font-size: 0;
	text-align: right;
	vertical-align: top;
}

.main-header-user-list-item:first-child {
	margin-right: 200px;
}

.main-header-user-list-item:last-child {
	margin-right: 0;
}

.main-header-user-list-item.enter,
.main-header-user-list-item.compare,
.main-header-user-list-item.basket {
	position: relative;
}

.main-header-user-list-item.enter::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 30px;

	width: 15px;
	height: 15px;
	background-image: url("../image/icon-user.svg");
}

.main-header-user-list-item.compare::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 10px;

	width: 15px;
	height: 15px;
	background-image: url("../image/icon-compare.svg");
}

.main-header-user-list-item.basket::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 15px;

	width: 15px;
	height: 15px;
	background-image: url("../image/icon-cart.svg");
}

.main-header-user-list-item a {
	display: block;
	width: 100px;

	font-size: 15px;
	vertical-align: top;
	text-decoration: none;
	color: #000000;
}

.main-header-menu {
	margin-right: 55px;
	margin-left: 60px;
	margin-top: 38px;
	padding-bottom: 125px;
	font-size: 0;
}

.main-header-menu-item {
	display: inline-block;
	padding-bottom: 40px;
}

.main-header-menu-item.catalog {
	position: relative;

	margin-right: 300px;
}

.main-header-menu-item.catalog::after {
	content: "";
	
	position: absolute;
	top: 2px;
	right: -27px;
	
	width: 16px;
	height: 16px;

	background-image: url("../image/plus.png");
}

.main-header-menu-item.delivery,
.main-header-menu-item.guarantee {
	margin-right: 19px;
	margin-left: 19px;
}

.main-header-menu-item.contacts {
	margin-left: 88px;
}

.main-header-menu-item a {
	display: block;

	font-family: "Gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #000000;
	vertical-align: top;
}

.main-header-slider {
	min-height: 480px;
	position: absolute;
}

main {
	margin-top: 481px;
}

.assortment {
	margin-top: 105px;
	margin-bottom: 86px;
}

.assortment-list {
	font-size: 0;
	text-align: center;
}

.assortment-item {
	display: inline-block;
	width: 160px;
	margin-right: 40px;

	font-family: "Gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	text-align: left;
	vertical-align: top;
}

.assortment-item:last-child {
	margin-right: 0;
}

.assortment-item a {
	display: block;

	text-decoration: none;
	color: #000000;
}

.assortment-item h2 {
	width: 125px;
	font-size: 18px;
}

.assortment-item-image {
	width: 160px;
	height: 160px;
	margin-bottom: 36px;

	background-color: rgba(255, 198, 0, 0.5);
	background-repeat: no-repeat;
	background-position: center;
}

.assortment-item-image.virtual {
	background-image: url("../image/assortment-item-1.png");
}

.assortment-item-image.monopods {
	background-image: url("../image/assortment-item-2.png");
	background-position: center bottom;
}

.assortment-item-image.action {
	background-image: url("../image/assortment-item-3.png");
}

.assortment-item-image.fitness {
	background-image: url("../image/assortment-item-4.png");
}

.assortment-item-image.smart {
	background-image: url("../image/assortment-item-5.png");
}

.assortment-item-image.quadrocopters {
	background-image: url("../image/assortment-item-6.png");
}
.advantages {
	position: relative;
}

.advantages::after {
	content: "";

	position: absolute;
	bottom: 0;
	z-index: -2;

	width: 100%;
	height: 219px;
	
	background-color: #e6e6e6;
}

.advantages-navigation-list {
	position: relative;

	width: 284px;
	padding: 0;
	padding-top: 80px;
	border-right: 7px solid #000000;
	padding-bottom: 47px;
}

.advantages-navigation-item {
	display: block;
	margin-bottom: 24px;

	list-style: none;
}

.advantages-navigation-item a {
	position: relative;

	display: inline-block;
	width: 172px;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 40px;
	vertical-align: middle;
	letter-spacing: 0.2em;
	color: #000000;
	font-size: 18px;
	font-family: "Gilroyextrabold", "Arial", sans-serif;
}

.advantages-navigation-item:hover a {
	color: #ffe27f;
	background-color: #000000;
}

.advantages-navigation-item a::after {
	content: "";

	position: absolute;
	top:18px;
  left: 0px;
  z-index: -1;

	display: inline-block;
	width: 160px;
	height: 8px;
	
	background-color: #ffc600;
}

.advantages-navigation-item:hover {
	background-color: #000000;
}

.advantages-navigation-slider {
	position: absolute;
	top: 55px;
  right: -820px;

  display: none;

	font-size: 0;
}

.advantages-navigation-discription,
.advantages-navigation-slider img {
	display: inline-block;

	vertical-align: top;
	font-size: 18px;
	margin-top: 15px;
}

.advantages-navigation-discription {
	width: 460px;
}

.advantages-navigation-discription h2 {
	margin-bottom: 28px;

	font-size: 47px;
	letter-spacing: 0.02em;
	font-family: "Gilroyextrabold", "Arial", sans-serif;
}

.advantages-navigation-discription p {
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.02em;
	font-family: "Open Sans", "Arial", sans-serif;
}

.advantages-navigation-slider.credit {
	right: -813px;
}

.advantages-navigation-slider.delivery img {
	margin-left: 100px;
}

.advantages-navigation-slider.warranty img {
	margin-left: 66px;
}

.advantages-navigation-slider.credit img {
	margin-left: 73px;
}

.advantages-navigation-item:hover .advantages-navigation-slider {
	display: block;
}

.partners {
	margin-top: 163px;
	margin-bottom: 93px;
}

.partners-list {
	font-size: 0;
	text-align: center;
}

.partners-item {
	display: inline-block;
	width: 260px;
	margin-right: 40px;

	vertical-align: top;
}

.partners-item:last-child {
	margin-right: 0;
}

.info {
	padding-bottom: 20px;
}

.info-about {
	float: left;
	width: 485px;
}

.info-about,
.info-contacts {
	position: relative;
}

.info-about::before,
.info-contacts::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 80px;
	height: 7px;

	background-color: #000000;
}

.info-about-title,
.info-contacts-title {
	margin-top: 49px;
	margin-bottom: 40px;

	font-size: 47px;
	font-family: "Gilroyextrabold", "Arial", sans-serif;
	letter-spacing: 0.01em;
}

.info-about-text,
.info-contacts-text {
	margin-bottom: 30px; 

	font-family: "Open Sans", "Arial", sans-serif;
	letter-spacing: 0.01em;
	font-size: 15px;
	line-height: 30px;
}

.info-about-list {
	padding-top: 36px;
  margin-left: 35px;
  letter-spacing: 0.01em;

	list-style: none;
}

.info-about-item {
	position: relative;

	color: #000000;
	font-size: 16px;
	line-height: 40px;
	font-family: "Gilroyextrabold", "Arial", sans-serif; 
}

.info-about-item::after {
	content: "";

	position: absolute;
	left: -35px;
  top: 15px;

	display: block;
	width: 10px;
	height: 10px;
	border: 3px solid rgba(0, 0, 0, 0.3);
	border-radius: 50%; 
}

.info-about-btn,
.info-contacts-btn {
	position: relative;

	display: block;
	width: 260px;
	margin-top: 64px;
	margin-bottom: 74px;

	font-size: 18px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	font-family: "Gilroyextrabold", "Arial", sans-serif;
	color: #000000;
	text-decoration: none;
}

.info-about-btn::before,
.info-contacts-btn::before {
	content: "";
	
	position: absolute;
	left: 0;
	top: 6px;
	z-index: -1;

	display: block;
	width: 100%;
	height: 8px;

	background-color: #ffc600;

}

.info-contacts {
	float: right;
	width: 560px;
}

.info-contacts-map {
	margin: 0;
	padding-top: 9px;
	padding-bottom: 11px;
}

.main-footer {
	font-size: 0;

	background-color: #444444;
}

.main-footer-about {
	position: relative;

	width: 352px;
	display: inline-block;
	font-size: 16px;
}

.main-footer-logo {
	display: block;
	margin-top: 65px;
	margin-bottom: 25px;
}

.main-header-logo-address {
	margin-bottom: 155px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #ffffff;
}

.main-footer-about::after {
	content: "";

	position: absolute;
	left: 0;
  bottom: 71px;

	display: block;
	width: 80px;
	height: 7px;

	background-color: #ffe27f;
}

.main-footer-menu {
	width: 466px;
	display: inline-block;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
}

.main-footer-menu-list {
	margin-top: 138px;
	margin-bottom: 37px;
}


.main-footer-menu-item,
.main-footer-menu-social-item,
.main-footer-user-item {
	display: inline-block;
}

.main-footer-menu-item {
	margin-right: 35px;
	margin-bottom: 25px;
}

.main-footer-menu-item:last-child {
	margin-right: 0;
}

.main-footer-menu-item a {
	font-family: "Gilroyextrabold", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.2em;
	color: #ffffff;
	text-decoration: none;
}

.main-footer-menu-social-list {
	width: 456px;

	font-size: 0;
}

.main-footer-menu-social-item {
	display: inline-block;
	font-size: 16px;
	vertical-align: top;
}

.main-footer-menu-social-item a {
	display: block;
}

.main-footer-social-image {
	width: 39px;
	height: 38px;
	margin-right: 6px;
	margin-left: 6px;
}

.main-footer-social-image.fb {
	background-image: url("../image/facebook.png");
	background-repeat: no-repeat;
}

.main-footer-social-image.insta {
	background-image: url("../image/insta.png");
	background-repeat: no-repeat;
}

.main-footer-social-image.tw {
	background-image: url("../image/twitter.png");
	background-repeat: no-repeat;
}

.main-footer-user {
	display: inline-block;
	width: 342px;
	font-size: 16px;
	vertical-align: top;
	text-align: right;
}

.main-footer-user-list {
	margin-top: 60px;
	margin-bottom: 34px;

	font-size: 0;
}

.main-footer-user-item {
	display: inline-block;
	margin-right: 21px;

	font-size: 15px;
	vertical-align: top;
}

.main-footer-user-item:last-child {
	margin-right: 0;
}

.main-footer-user-item.enter,
.main-footer-user-item.compare,
.main-footer-user-item.basket {
	position: relative;
}

.main-footer-user-item.enter::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 30px;

	width: 15px;
	height: 15px;
	background-image: url("../image/user.png");
	background-repeat: no-repeat;
}

.main-footer-user-item.compare::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 10px;

	width: 15px;
	height: 15px;
	background-image: url("../image/compare.png");
	background-repeat: no-repeat;
}

.main-footer-user-item.basket::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 15px;

	width: 15px;
	height: 15px;
	background-image: url("../image/cart.png");
	background-repeat: no-repeat;
}

.main-footer-user-item a{
	display: block;
	width: 100px;

	font-family:  "Open Sans", "Arial", sans-serif;
	line-height: 36px;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 0.01em;
}

.main-footer-user-telephon {
	margin-bottom: 62px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #ffffff;
}