*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: Gilroylight;
  src: url(../fonts/Gilroylight.ttf);
}

@font-face {
  font-family: Gilroyextrabold;
  src: url(../fonts/Gilroyextrabold.ttf);
}

html {
	box-sizing: border-box;
}

/*font-family: 'Open Sans', sans-serif;*/

.clearfix::after {
 content: "";
 display: table;
 clear: both;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

/*Style for index.html*/

.main-header {
	margin-top: 40px;
	background-color: rgba(255, 198, 0, 0.5);
}

.main-header-logo {
	margin-left: 58px;
	position: relative;
  top: -19px;
}

.main-header-user {
	margin-left: 48px;
	margin-right: 60px;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
}

.main-header-user-search {
	position: relative;

	float: left;
	width: 200px;

	text-align: right;
}

.main-header-user-search input {
	border: none;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: #000000;

	background-color: transparent;
    
}

.main-header-user-search::before {
	content: "";

	position: absolute;
	top: 11px;
	left: 15px;

	width: 16px;
	height: 16px;
	background-image: url("../image/icon-search.svg");
}

.main-header-user-list {
	float: right;
}

.main-header-user-list-item {
	display: inline-block;
	margin-right: 20px;

	font-size: 0;
	text-align: right;
}

.main-header-user-list-item:first-child {
	margin-right: 200px;
}

.main-header-user-list-item:last-child {
	margin-right: 0;
}

.main-header-user-list-item.enter,
.main-header-user-list-item.compare,
.main-header-user-list-item.basket {
	position: relative;
}

.main-header-user-list-item.enter::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 30px;

	width: 15px;
	height: 15px;
	background-image: url("../image/icon-user.svg");
}

.main-header-user-list-item.compare::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 10px;

	width: 15px;
	height: 15px;
	background-image: url("../image/icon-compare.svg");
}

.main-header-user-list-item.basket::before {
	content: "";

	position: absolute;
	top: 10px;
	left: 15px;

	width: 15px;
	height: 15px;
	background-image: url("../image/icon-cart.svg");
}

.main-header-user-list-item a {
	display: block;
	width: 100px;

	font-size: 15px;
	vertical-align: top;
	text-decoration: none;
	color: #000000;
}

.main-header-menu {
	margin-right: 55px;
	margin-left: 60px;
	margin-top: 38px;
	padding-bottom: 165px;
	font-size: 0;
}

.main-header-menu-item {
	display: inline-block;
}

.main-header-menu-item.catalog {
	position: relative;

	margin-right: 300px;
}

.main-header-menu-item.catalog::after {
	content: "";
	
	position: absolute;
	top: 2px;
	right: -27px;
	
	width: 16px;
	height: 16px;

	background-image: url("../image/plus.png");
}

.main-header-menu-item.delivery,
.main-header-menu-item.guarantee {
	margin-right: 19px;
	margin-left: 19px;
}

.main-header-menu-item.contacts {
	margin-left: 88px;
}

.main-header-menu-item a {
	display: block;

	font-family: "Gilroyextrabold", "Arial", sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: #000000;
	vertical-align: top;
}

.main-header-slider {
	min-height: 480px;
	position: absolute;
}

main {
	margin-top: 500px;
}

.assortment {
	min-height: 430;
}

.assortment .container {
	width: 1200px;
	margin: 20px auto;
}

.assortment-item {
	display: inline-block;
}

.advantages {
	min-height: 390px;
}

.advantages .container {
	width: 1200px;
	margin: 20px auto;
}

.partners {
	min-height: 288px;
}

.partners .container {
	width: 1200px;
	margin: 20px auto;
}

.partners-item {
	display: inline-block;
}

.info {
	min-height: 655px;
}

.info .container {
	width: 1200px;
	margin: 20px auto;
}

.info-about {
	float: left;
	width: 460px;
}

.info-contacts {
	float: right;
	width: 560px;
}

.main-footer {
	min-height: 323px;
	font-size: 0;

	background-color: #444444;
}

.main-footer .container {
	width: 1200px;
	margin: 20px auto;
}

.main-footer-about {
	width: 360px;
	display: inline-block;
	font-size: 16px;
}

.main-footer-menu {
	width: 470px;
	display: inline-block;
	font-size: 16px;
}

.main-footer-menu-item,
.main-footer-menu-social-item,
.main-footer-user-item {
	display: inline-block;
}

.main-footer-user {
	display: inline-block;
	width: 330px;
	font-size: 16px;
}

