*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

.clearfix::after {
 content: "";
 display: table;
 clear: both;
}

/*Style for index.html*/

.main-header.index {
	width: 100%;
	margin-top: 40px;
}

.main-header.index .container {
	width: 1160px;
	margin: 0 auto;
	min-height: 318px; 

	background-color: rgba(255, 198, 0, 0.5);
}

.main-header-logo {
	position: relative;
  top: -20px;
}

.main-header-user-list-item {
	display: inline-block;
}

.main-header-menu-item {
	display: inline-block;
}

.slider {
	position: relative;
  top: -110px;

	min-height: 470px;
}

.slider .container {
	width: 1160px;
	margin: 0 auto;
}


.assortment {
	min-height: 430;
}

.assortment .container {
	width: 1160px;
	margin: 0 auto;
}

.assortment-item {
	display: inline-block;
}

.advantages {
	min-height: 390px;
}

.advantages .container {
	width: 1160px;
	margin: 0 auto;
}

.partners {
	min-height: 288px;
}

.partners .container {
	width: 1160px;
	margin: 0 auto;
}

.partners-item {
	display: inline-block;
}

.info {
	min-height: 655px;
}

.info .container {
	width: 1160px;
	margin: 0 auto;
}

.info-about {
	float: left;
	width: 460px;
}

.info-contacts {
	float: right;
	width: 560px;
}

.main-footer {
	min-height: 323px;
	font-size: 0;

	background-color: #444444;
}

.main-footer .container {
	width: 1160px;
	margin: 0 auto;
}

.main-footer-about {
	width: 360px;
	display: inline-block;
	font-size: 16px;
}

.main-footer-menu {
	width: 470px;
	display: inline-block;
	font-size: 16px;
}

.main-footer-menu-item,
.main-footer-menu-social-item,
.main-footer-user-item {
	display: inline-block;
}

.main-footer-user {
	display: inline-block;
	width: 330px;
	font-size: 16px;
}

/*Style for catalog.html*/

.main-header.catalog {
	width: 100%;
	margin-top: 40px;
}

.main-header.catalog .container {
	width: 1160px;
	margin: 0 auto;
	min-height: 186px; 

	background-color: rgba(255, 198, 0, 0.5);
}

.main-navigation {
	min-height: 179px;
}

.main-navigation .container {
	width: 1160px;
	margin: 0 auto;
}

.breadcrumbs-item {
	display: inline-block;
}

.main-content .container {
	width: 1160px;
	margin: 0 auto;
}

.main-content-filter {
	width: 330px;
	float: left;
}

.main-content-gallery {
	width: 830px;
	float: right;
}

.main-content-gallery-sorting-item {
	display: inline-block;
}

.main-content-gallery-images {
	font-size: 0;
}

.main-content-gallery-images-item {
	display: inline-block;
	font-size: 16px;
	margin-left: 70px;
}

.main-content-gallery-images-item:nth-child(2n) {
	margin-left: 40px;
}